<!DOCTYPE html>
<html>

	<head>

		<title>KIM v.1.1.0</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">	

		<!-- Style -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900,300' rel='stylesheet' type='text/css'>
		<link href="http://192.168.59.50:8080/kim/client/dist/assets/css/kendo.common.min.css" rel="stylesheet" />
		<link href="http://192.168.59.50:8080/kim/client/dist/assets/css/kendo.default.min.css" rel="stylesheet" />
		<link type="text/css" rel="stylesheet" href="http://192.168.59.50:8080/kim/client/dist/assets/css/all.min.css">
		<!-- -->
		

		<!-- Client-side dependensies -->		
		<script src="//kendo.cdn.telerik.com/2016.1.412/js/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>	
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.min.js"></script>	
		<script type="text/javascript" src="http://192.168.59.50:8080/kim/client/dist/assets/js/TweenMax.min.js"></script>	
		<script type="text/javascript" src="http://192.168.59.50:8080/kim/client/dist/assets/js/material.js"></script>					
		<script src="//kendo.cdn.telerik.com/2016.1.412/js/kendo.all.min.js"></script>
		<script src="http://192.168.59.50:8080/kim/client/dist/assets/js/moment.js"></script>		
		<script type="text/javascript" src="http://192.168.59.50:8080/kim/client/dist/assets/js/notification.js"></script>
		<script type="text/javascript" src="http://192.168.59.50:8080/kim/client/dist/assets/js/trackConnection.js"></script>
		<!-- -->		

		<!-- Client-side framework -->
		<script type="text/javascript" src="http://192.168.59.50:8080/kim/client/dist/framework/app.js"></script>
		<!-- -->	

	</head>

	<body>
		
		<div id="background"></div>
		
		<div id="app-wrapper">

			<div id="app-view">
				<!-- HTML of a page will be deployed here -->
			</div>

		</div>

		
	<script type="text/javascript" src="http://192.168.59.50:8080/kim/client/dist/assets/js/preloader.js"></script>	
	</body>


</html>