<div id="login-page">

	<div class="center-container">

		<div class="login-form">

			<div class="col left">
				
			</div>
			<div class="col right">

				<div class="col-padding">
					<div class="input-wrapper">
						<span class="label">Gebruikersnaam</span>						
						<input name="username" type="text">
						<div class="line"></div>
					</div>
					<div class="input-wrapper">
						<span class="label">Wachtwoord</span>
						<input name="password" type="password">
						<div class="line"></div>
					</div>		
					<div class="login-error">
						Gebruikersnaam of wachtwoord incorrect!
					</div>			
					<button alt="inloggen">Doorgaan</button>
				</div>			

			</div>

		</div>

	</div>

</div>